#container {
    display: flex;
}

.column {  
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.column:first-child {
    border-top: 1px solid black;
}

.row:last-child {
    border-right: 1px solid black;
}

.color-square {
    background-color: green;
}